# dependencies
node_modules
.pnpm-store

# build
.next
out
dist
.turbo
*.tsbuildinfo

# env
.env
.env.local
.env.production
.env.*.local
!.env.example
!.env.production.example

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.idea
.vscode/*
!.vscode/extensions.json

# test
coverage
playwright-report
test-results
.lighthouse-home.json
*.report.html

# drizzle
packages/db/drizzle/meta

# secrets
*.pem
*.key
!public/**/*.key
